@import './variabler.less';

.knapp {
    height: @button-height;
}

.skjemaelement__label {
    font-weight: bold;
}

.bekreftCheckboksPanel .skjemaelement__label {
    font-weight: normal;
}

.infoboks__sirkel {
    .sirkelknapp__ikon {
        margin: 0;
        line-height: 0;
    }
}
